# Everthing
/*

# Files in base folder
!.Xmodmap
!.agignore
!.bash_profile
!.bashrc
!.dmrc
!.gitconfig
!.gitignore
!.gtkrc-2.0
!.gvimrc
!.profile
!.tmux.conf
!.vimrc
!.xinitrc
!startawesome.sh

# CoC settings
!.config/
.config/*
!.config/nvim/
.config/nvim/*
!.config/nvim/coc-settings.json
