!.*
*
.atom
.bash-git-prompt
.bash_history
.bash_logout
.bzr.log
.face.icon
.gist
.git-credentials
.gnupg
.ICEauthority
.lesshst
.mkshrc
.nano_history*
.netrc
.nviminfo
.nvimlog
.profile-private
.psql_history
.rnd
.sudo_as_admin*
.vault-token
.vim
.viminfo
.viminfo.tmp
.viminfy.tmp
.vim-spf13
.vim-tmp
.wget-hsts
.Xauthority
.xsession-errors*
.zlogin
.zshrc
