*
!.*
.zshrc
.zlogin
.viminfo
.vim-spf13
.xsession-errors*
.vault-token
.vim-tmp
.netrc
.rnd
.nvimlog
.nviminfo
.sudo_as_admin*
.nano_history*
.bash-git-prompt
.git-credentials
.mkshrc
.ICEauthority
.Xauthority
.atom
.bash_history
.bash_logout
.bzr.log
.face.icon
.lesshst
.psql_history
.vim
.gnupg
.gist
.viminfo.tmp
.viminfy.tmp
